extends layout
      
block content  
  #content
    #botonera.span12
      div.navbar.navbar-inverse.navbar-fixed-bottom
         div.navbar-inner
           div.container
            button.btn.btn-navbar(data-toggle="collapse",data-target=".navbar-collapse")
             span.icon-bar
             span.icon-bar
             span.icon-bar
            a.brand(href="#") InvenBar
            div.nav-collapse.collapse
              ul.nav
                li
                  a(href="/") Home
                li 
                  a(href="#about") About
            a.btn.pull-right(href="/nuevo-producto") +
    #izq.span6
      form(method='post')
        fieldset
          legend #{title}
          label(for="nombre") Nombre
          input(type='text', name='nombre', value=producto.nombre)
          label(for="descripcion") Descripción
          textarea(name='descripcion') #{producto.descripcion}
          label(for="precio") Precio
          input(type='text', name='precio', value=producto.precio)
          label(for="stock") Stock
          input(type='text', name='stock', value=producto.stock)
         button.btn.btn-primary(type='submit') Guardar 
    #der.span6
       
